.controls {
  background-color: $gsa-light-gray;
  padding: 12px 16px;
  
  button.add-drug {
    margin: 8px 0;
  }
  
  md-select {
    md-select-value {
      &.md-select-placeholder {
        color: $gsa-dark-gray;
      }
    }
  }
}
