.footer {
  h4 {
    color: $gsa-white;
    
    font-size: em($font-size-sm);
  
    @include breakpoint(850px, $no-query: true) {
      font-size: em($font-size-md);
    }
    
    a {
      color: $gsa-white;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}