.md-toolbar-tools {
  padding-left: 7px;
}

.header {
  color: $gsa-red;
}

h1.header {
  font-size: em($font-size-lg);
  
  @include breakpoint(850px, $no-query: true) {
    font-size: em($font-size-xxl);
  }
}