.md-toolbar-tools {
  padding-left: 7px;
}

.header {
  color: $gsa-red;
}

.demo-toolbar h1 {
  font-size: em($font-size-lg);
  
  @include breakpoint(850px, $no-query: true) {
    font-size: em($font-size-xxl);
    color: white;
    margin: .75em 0;
  }
}

md-toolbar {
	h2 {
		text-align: center;
		color: white;
		margin: .5em 0;
	}
}