{{# Code for HEAD element: }}
  <link rel="apple-touch-icon-precomposed" href="images/favicon-152.png">
  <meta name="msapplication-TileColor" content="#146087">
  <meta name="msapplication-TileImage" content="images/favicon-144.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96.png">
{{/ Code for HEAD element: }}

<img src="../../../../../images/favicon-16.png">
<img src="../../../../../images/favicon-32.png">
<img src="../../../../../images/favicon-96.png">
<img src="../../../../../images/favicon-144.png">
<img src="../../../../../images/favicon-152.png">