<div class="address-finder">
  <div class="form-item form-item--textfield">
    <label class="element-invisible" for="find-address">Location</label>
    <input placeholder="Enter a location" type="text" autocapitalize="off" autocorrect="off" id="find-address" name="address" size="40" class="form-text">
  </div>
</div>
