<div class="layer-controls">
  <form>
    <fieldset class="layer-controls__fieldset">
      <legend class="layer-controls__title js-accordion">Non-Hodgkin's lymphoma</legend>
      <div class="layer-controls__group">
        <button class="button button--small">Remove layer</button>
        <div class="form-item form-item--slider form-item--light">
          <label class="form-item__label">Change Opacity
            <slider>
              <div class="bar"></div>
              <div style="left: 125.55px;" class="handle low"></div>
              <div class="bubble limit low">0</div>
              <div style="left: 286px;" class="bubble limit high">100</div>
              <div style="left: 129.5px;" class="bubble value low">45</div>
            </slider>
          </label>
        </div>
      </div>
    </fieldset>
    <fieldset class="layer-controls__fieldset">
      <legend class="layer-controls__title js-accordion">Intersection Density</legend>
      <div class="layer-controls__group">
        <button class="button button--small">Remove layer</button>
        <div class="form-item form-item--slider form-item--light">
          <label class="form-item__label">Change Opacity
            <slider>
              <div class="bar"></div>
              <div style="left: 125.55px;" class="handle low"></div>
              <div class="bubble limit low">0</div>
              <div style="left: 286px;" class="bubble limit high">100</div>
              <div style="left: 129.5px;" class="bubble value low">45</div>
            </slider>
          </label>
        </div>
        <div class="form-item form-item--radios form-item--light">
          <fieldset class="form-item__fieldset">
            <legend class="form-item__legend">Compare to</legend>
            <div class="form-item form-item--radio">
              <input type="radio" id="compare-national" name="radios" class="form-radio">
              <label class="form-item__label" for="compare-national">National Average</label>
            </div>
            <div class="form-item form-item--radio">
              <input type="radio" id="compare-local" name="radios" class="form-radio">
              <label class="form-item__label" for="compare-local">Local Percentages</label>
            </div>
          </fieldset>
        </div>
      </div>
    </fieldset>
  </form>
</div>
