<div class="leaflet-popup-content-wrapper">
  <div style="width: 301px;" class="leaflet-popup-content">
    <div class="popup__title">National score: 436.14</div>
    <div class="popup__title">Score: 387.54</div>
    <a href="/data" class="button button--small button--arrow">find out more</a>
    <hr>
    <div class="popup__title">Percent of Low Wage Workers (compared to national average)</div>
    <div class="popup__location">Beaufort, NC</div>
    <div class="popup__value">107.92%</div>
  </div>
</div>
