<div class="form-item form-item--textfield">
  <label class="form-item__label" for="edit-textfield">Textfield</label>
  <input type="text" autocapitalize="off" autocorrect="off" id="edit-textfield" name="textfield" size="60" maxlength="128" class="form-text">
</div>
