<div class="form-item form-item--textfield">
  <label class="element-invisible" for="edit-textfield-placeholder">Textfield with placeholder</label>
  <input placeholder="Textfield with placeholder" type="text" autocapitalize="off" autocorrect="off" id="edit-textfield-placeholder" name="textfield" size="60" maxlength="128" class="form-text">
</div>
