<div class="form-item form-item--checkbox">
  <input type="checkbox" id="edit-checkbox" name="checkbox" value="1" checked="checked" class="form-checkbox">
  <label class="form-item__label" for="edit-checkbox">Checkbox</label>
</div>
