<section layout="column">
  <section layout="row" layout-sm="column" layout-margin layout-fill layout-padding>
    <section flex="33" flex-sm="100">
      <md-card class="md-whiteframe-z3">
			  <md-toolbar class="md-accent">
			    <h2 class="md-toolbar-tools"><span>Choose Drugs to View</span></h2>
			  </md-toolbar>
			  <md-card-content>
				  <div layout="column" layout-margin>
					  <p>Combine multiple drugs to find adverse reactions</p>
					  
					  <p>Select how to find your medicine:</p>
					  <md-radio-group ng-model="display" layout="row" layout-md="column">
				      <md-radio-button value="brand" class="md-primary">By brand</md-radio-button>
				      <md-radio-button value="substance" class="md-primary">By substance</md-radio-button>
				    </md-radio-group>
				    
				    <div ng-switch="display">
						  <md-select ng-model="drug.medicinalproduct" placeholder="Select a substance" ng-repeat="drug in drugs" ng-switch-when="substance" md-on-close="processChanges()">
							  <md-option ng-value="substance.substance_name" ng-repeat="substance in substances">{{ substance.substance_name }}</md-option>
							</md-select>
							
							<md-select ng-model="drug.medicinalproduct" placeholder="Select a brand" ng-repeat="drug in drugs" ng-switch-when="brand" md-on-close="processChanges()">
	              <md-option ng-value="brand.brand_name" ng-repeat="brand in brands">{{ brand.brand_name }}</md-option>
	            </md-select>
						</div>
						
						<div layout="column">
						  <md-button ng-click="addDrug()" ng-disabled="drugs.length > 2">Add drug</md-button>
						  <md-button ng-click="reset()">Reset</md-button>
						</div>
					</div>
			 </md-card-content>
			</md-card>
    </section>
    <section flex="66" flex-sm="100">
      <h2><span>Reported instances of adverse effects for Drugs or Substance</span></h2>
      <charts-bar 
        yaxis-label="Number of Reported Instances"
        xaxis-label="Adverse Effect"
        height="400" 
        width="500" 
        data="data"></charts-bar>
    </section>
  </section>
</section>