<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #2e7bab;"></span>
    <span class="sg-label">#2e7bab</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #146087;"></span>
    <span class="sg-label">#146087</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #d14600;"></span>
    <span class="sg-label">#d14600</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #fcfcfc;"></span>
    <span class="sg-label">#fcfcfc</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #e7e7e7;"></span>
    <span class="sg-label">#e7e7e7</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #bdbdbd;"></span>
    <span class="sg-label">#bdbdbd</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #333;"></span>
    <span class="sg-label">#333333</span>
  </li>
</ul>
