<nav role="navigation">
  <ul class="nav nav--main-menu">
    <li class="nav__item"><a class="nav__link" href="#">About</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Data</a></li>
  </ul>
</nav>
