<nav class="layout-constrain" role="navigation">
  <ul class="nav nav--footer-menu">
    <li class="nav__item"><a class="nav__link" href="#">Footer Text</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Aenean</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Pharetra</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Tristique</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Pellentesque</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Quam</a></li>
  </ul>
</nav>
