// @file
// Styles for layout elements

.layout-constrain {
  margin-left: auto;
  margin-right: auto;
  max-width: em($max-page-width);
  padding-left: 1em;
  padding-right: 1em;

  @if $breakpoint-no-queries {
    width: em($max-page-width);
  }
}

.layout-main-content {
  margin: 0 auto;
  max-width: 40em;
  padding: 2em 1em 3em;
}

.layout-wide-content {
  margin: 0 auto;
  max-width: em($max-page-width);
  padding: 2em 1em 3em;

  @if $breakpoint-no-queries {
    width: em($max-page-width);
  }
}

md-toolbar {
  background-color: rgb(0, 166, 180);
}

.demo-toolbar div {
  padding: 0;
  margin: 0;
}

.demo-toolbar .logo strong {
  text-transform: uppercase;
}

.demo-toolbar .logo {
  padding: 30px;
}

.demo-toolbar .logo h3 {
  color: #fff;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.demo-toolbar a {
  display: inline-block;
  padding: 30px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  line-height: 27px;
}

.demo-toolbar a:hover,
.demo-toolbar a:active {
  background-color: #00929E;
}

md-toolbar.md-accent {
  background-color: #BDBDBD;
}

md-card md-card-content {
  background-color: #BDBDBD;
}

md-card md-card-content p {
  font-size: 14px;
}

#footer {
  margin-top: 50px;
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: #BDBDBD;
  border-top: 1px solid #000;
  text-align: center;
}

#footer .footer-content {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  color: rgb(0, 166, 180);
  font-size: 18px;
  font-weight: bold;
}

#footer .footer-content a {
  color: rgb(0, 166, 180);
}