<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Neighborhood Scan</title>
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="width">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.12/themes/css/cartodb.css">
    <link rel="stylesheet" href="../../../../../styles/legends.css?{{ cacheBuster }}" media="all">
    <link rel="stylesheet" href="../../../../../styles/map.css?{{ cacheBuster }}" media="all">

    <!--[if gte IE 9]><!-->
    <link rel="stylesheet" href="../../../../../styles/styles.css?{{ cacheBuster }}" media="all">
    <!--<![endif]-->

    <!--[if lt IE 9]>
    <link rel="stylesheet" href="../../../../../styles/no-mq.css?{{ cacheBuster }}" media="all">
    <![endif]-->

    <link rel="stylesheet" href="../../../../../styles/pattern-lab.css?{{ cacheBuster }}" media="all">

    <!-- iOS devices -->
    <link rel="apple-touch-icon-precomposed" href="images/favicon-152.png">
    <!-- IE 10 -->
    <meta name="msapplication-TileColor" content="#146087">
    <meta name="msapplication-TileImage" content="images/favicon-144.png">
    <!-- Everything else -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96.png">

    <noscript>
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Muli:400,400italic">
    </noscript>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Muli:400,400italic:latin' ] }
      };
      (function () {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {% pattern-lab-head %}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{ bodyClass }}" ng-app="nciInterface">
