
    <!--DO NOT REMOVE-->
    {% pattern-lab-foot %}

    <script src="../../../../../vendor/jquery/jquery.js"></script>
    <script src="../../../../../vendor/jquery-hoverIntent/jquery.hoverIntent.js"></script>
    <script src="../../js/jquery.selectability.js"></script>
    <script src="../../js/dropdown-menu.js"></script>
    <script src="../../js/accordion.js"></script>
  </body>
</html>
